* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: relative;
}
#side{
    background-color: white;
    float: left;
    width: 80px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}
#content{
    background-color: white;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    left: 80px;
    top: 0px;
}
#head{
    background-color: white;
    opacity: 0.9;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0px;
    z-index: 100;
}
#body{
    background-color: white;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 120px;
    z-index: 1;
}
.upper, .lower{
    border: 1px solid lightgray;
    height: 50%;
}

#side_btn{
    width: 100%;
    height: 80px;
    align-self: center;
    background-color: white;
    border: 0px;
}

#side_btn:hover {background-color: #ccc;}

#head1{
    height: 100%;
    float: left;
    margin-top: 10px;
    margin-right: 100px;
}